.video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
}

.video-container video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.directory-image {
    max-height: calc(100vh - 10px);
}